mulebasics02/src/main/app/xpathexpressiondemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="xpathexpressiondemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/userPath" doc:name="HTTP"/>
        <parse-template location="C:\Users\Kevin\AnypointStudio\workspace\mulebasics02\src\main\resources\user.xml" doc:name="Parse Template"/>
        <set-payload value="#[xpath3('users/user/name')]" doc:name="Set Payload"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
